.addField {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  grid-gap: 20px;
}

.mat-column-id {
  width: 0px !important;
  text-overflow: scroll !important;
}

button.mat-button {
  min-width: 40px !important;
  max-width: 40px !important;
  padding: 0px !important;
}

.mat-column-completed {
  width: 80px !important;
}

@media (max-width: 800px) {
  .mat-column-id {
    width: 0px !important;
    text-overflow: scroll !important;
  }

  .addField {
    grid-template-columns: 25fr 15fr;
  }
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: auto;
  text-overflow: scroll;
  white-space: nowrap;
}

mat-icon {
  cursor: pointer;
}